*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    
    background-image:url('./../images/bg-intro-mobile.png');
    background-repeat: repeat;
    background-color: #FF7978;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif;
    color:white;
}

